@import "../../helpers/styles/helpstyle.scss";

.header-nav {
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 10px 0 10px;
  background: rgb(22, 22, 34);

  .active {
    color: $primary-gold;
    @media screen and (max-width: 700px) {
      outline: 2px solid $primary-gold;
    }
  }
  z-index: 5000;
  @media screen and (max-width: 1400px) {
    height: 100px;
  }
  @media screen and (max-width: 700px) {
    height: 70px;
  }
}
.navigate-point {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100px;
  padding: 5px;
  border-radius: 10px;
  border: 2px solid transparent;
  text-decoration: none;
  color: white;
  cursor: pointer;
  span {
    padding-top: 5px;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 18px;
  }
  @media screen and (max-width: 1400px) {
    span {
      font-size: 16px;
    }
  }
  @media screen and (max-width: 700px) {
    width: 60px;
    border: none;
    padding: 3px;
    span {
      display: none;
    }
  }
}

.home-icon {
  width: 65px;
  height: 65px;
  background-size: 65px 65px;
  background-position: center;
  @media screen and (max-width: 1400px) {
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
  }
}
.home-icon1 {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/budget-689a8.appspot.com/o/Img%2FheaderImg%2Fcalculator.png?alt=media&token=83072602-ac48-4f48-9fda-8cb411d8b594");
}
.home-icon2 {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/budget-689a8.appspot.com/o/Img%2FheaderImg%2Fmoney-management.png?alt=media&token=4c4d5ed6-2c41-445f-81ca-1b2237b614ed");
}
.home-icon3 {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/budget-689a8.appspot.com/o/Img%2FheaderImg%2Fuser%20(1).png?alt=media&token=73dfb1fb-726d-4b02-928e-12fb3bc72409");
}
.home-icon4 {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/budget-689a8.appspot.com/o/Img%2FheaderImg%2Fmoon.png?alt=media&token=bc3278fa-33e9-4caf-ad9b-c08a022b6fce");
}
